html,
body {
  display: flex;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
#page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#container-auth-title {
  font-size: 20px;
  font-weight: bold;
}

#container-auth {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#auth-input-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-label {
  font-size: 16px;
}

input,
button {
  font-size: 16px;
  padding: 10px;
  outline: none;

  border: none;
  background-color: #eaeaea;
  cursor: pointer;
  border-radius: 0.25rem;
}
input:hover,
button:hover {
  background-color: #c9c9c9;
}

#send-button {
  width: fit-content;
  background-color: #d6f5d9;
  color: #005408;
}
#send-button:hover {
  background-color: rgb(207, 245, 196);
}

p {
  margin: 0;
}

#container-auth-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-button {
  padding: 0;
  background-color: transparent;
  color: #3079cf;
}
.text-button:hover {
  color: #60aaff;
}
.text-button:hover {
  background-color: transparent;
}
.full-width {
  width: 100%;
}

.caixa-mensagem {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
}

.caixa-ok {
  background-color: rgb(207, 245, 196);
  color: rgb(0, 89, 19);
}
.caixa-erro {
  background-color: rgb(245, 196, 196);
  color: rgb(89, 0, 0);
}
